<div layout="column" class="text-align-center">
    <div>
        <label>Work hours per day:</label>
    </div>

    <div>
        <md-button ng-click="vm.onWorkHoursPerDayClicked()">
            <span class="md-display-1">{{ vm.workHoursPerDay.format(vm.shortTimeFormat) }}</span>
        </md-button>
    </div>
</div>

<div layout="column" class="text-align-center">
    <div>
        <label>Time you got in:</label>
    </div>

    <div>
        <md-button class="md-raised" ng-click="vm.onStartTimeClicked()">
            <span class="md-display-1">{{ vm.startTime.format(vm.shortTimeFormat) }}</span>
        </md-button>
    </div>
</div>

<div layout="column" layout-align="center center" class="time-to-get-out">
    <h2 class="md-subhead">Time you'll get out:</h2>
    <p class="md-display-2">{{ vm.timeToGetOut.format(vm.longTimeFormat) }}</p>
</div>

<div layout="column" layout-align="center center" class="remaining-time centered-text" ng-hide="vm.isTimeToGo">
    <h2 class="md-subhead">Remaining Time:</h2>
    <p class="md-display-2">{{ vm.remainingTime.format(vm.longTimeFormat) }}</p>
</div>

<div layout="column" layout-align="center center" class="time-to-go-message centered-text" ng-show="vm.isTimeToGo">
    <h2 class="md-display-2">TIME TO GO HOME, MOTHERFUCKER!</h2>
</div>
